Repository BP2022-AP1/bp2022-ap1, pull requests merged in 2023-03, with the labels that each got.

#50 Feature/30 spawner schedule skeleton
  .gitignore
  src/__init__.py
  src/component.py
  src/schedule/__init__.py
  src/schedule/regular_schedule_strategy.py
  src/schedule/schedule.py
  src/schedule/schedule_strategy.py
  src/schedule/train_schedule.py
  src/spawner/__init__.py
  src/spawner/spawner.py
  src/spawner/train_spawner.py
Labels: Component: Spawner

#51 Feature/5 traci communicator
  .github/workflows/python-app.yml
  poetry.lock
  pyproject.toml
  src/wrapper/__init__.py
  src/wrapper/communicator.py
  sumo-config/example.con.xml
  sumo-config/example.edg.xml
  sumo-config/example.net.xml
  sumo-config/example.nod.xml
  sumo-config/example.routes.xml
  sumo-config/example.scenario.sumocfg
  tests/test_communicator.py
Labels: Component: Wrapper

#60 Add simulation object
  .github/workflows/python-app.yml
  src/wrapper/communicator.py
  src/wrapper/simulation_object.py
  src/wrapper/simulation_object_updating_component.py
  tests/test_communicator.py
Labels: Component: Wrapper

#79 Feature: Setup postman
  .postman/api
  .postman/api_b23db1c0-fe6b-4c8f-887a-2c9ca66ebf20
  postman/schemas/index.yaml
Labels: Component: REST API

#114 Add protocol for `IInfrastructureProvider`
  src/interfaces.py
Labels: Component: Wrapper

#121 implemented ISpawnerRestrictor
  src/interfaces.py
Labels: Component: Spawner
