Repository BP2022-AP1/bp2022-ap1, pull requests merged in 2023-05, with the labels that each got.

#417 Add test for `next_tick` method in `Fault` class
  src/fault_injector/fault_types/fault.py
  tests/fault_injector/test_fault.py
Labels: Component: Fault Injector

#410 Feature add functionality to /component/fault-injection/track-speed-limit-fault route
  postman/collections/rest-api-autogenerate.json
  postman/schemas/index.yaml
  src/api/schemas.py
  src/implementor/component.py
  tests/api/test_api_platform_blocked_fault.py
  tests/api/test_api_schedule_blocked_fault.py
  tests/api/test_api_track_blocked_fault.py
  tests/api/test_api_track_speed_limit_fault.py
  tests/api/test_api_train_prio_limit.py
  tests/api/test_api_train_speed_fault.py
  tests/api/test_decorator.py
  tests/implementor/conftest.py
  tests/implementor/test_impl_track_speed_limit_fault.py
Labels: Component: REST API

#429 Add functionality to /component/fault-injection/train-speed-fault path
  src/implementor/component.py
  tests/api/test_api_train_speed_fault.py
  tests/api/test_decorator.py
  tests/implementor/conftest.py
  tests/implementor/test_impl_track_speed_limit_fault.py
  tests/implementor/test_impl_train_speed_fault.py
Labels: Component: REST API

#425 Add tests for `Platform`/`Track` does not exist
  src/fault_injector/fault_types/platform_blocked_fault.py
  src/fault_injector/fault_types/track_blocked_fault.py
  src/fault_injector/fault_types/track_speed_limit_fault.py
  tests/fault_injector/conftest.py
Labels: Component: Fault Injector

#431 Add functionality to /component/fault-injection/train-prio-fault path
  src/implementor/component.py
  tests/api/test_api_train_prio_limit.py
  tests/api/test_decorator.py
  tests/implementor/conftest.py
  tests/implementor/test_impl_train_prio_fault.py
Labels: Component: REST API

#445 Feature/386 grafana coal demand run based
  .env.test
  docker-compose.yaml
  grafana/local/dashboard_run_based.json
  grafana/local/datasource.json
  src/__init__.py
  src/data_science/data_science.py
  src/data_science/grafana_data_registration.py
  src/logger/log_collector.py
  src/schedule/demand_schedule_strategy.py
  tests/conftest.py
  tests/data_science/test_data_science.py
  tests/data_science/test_grafana_data_registration.py
  tests/fixtures/fixtures_logger.py
  tests/fixtures/fixtures_spawner.py
  tests/logger/test_log_collector.py
Labels: Component: Data Science

#454 feat: rename train spawner
  src/implementor/run.py
  src/schedule/schedule.py
  src/spawner/spawner.py
  src/wrapper/train_builder.py
  tests/wrapper/conftest.py
  tests/wrapper/test_train_spawner.py
Labels: Component: Wrapper

#409 Feature: Add functionality of /simulation route
  src/api/schemas.py
  src/implementor/simulation.py
  tests/api/test_api_simulation.py
  tests/api/test_decorator.py
  tests/implementor/conftest.py
  tests/implementor/test_impl_simulation.py
Labels: Component: REST API

#439 Add functionality for /component/fault injection/track blocked fault path
  src/implementor/component.py
  tests/api/test_api_track_blocked_fault.py
  tests/api/test_decorator.py
  tests/implementor/conftest.py
  tests/implementor/test_impl_track_blocked_fault.py
Labels: Component: REST API

#448 Add functionality for /component/fault-injection/platform-blocked-fault path
  src/implementor/component.py
  tests/api/test_api_platform_blocked_fault.py
  tests/api/test_decorator.py
  tests/implementor/conftest.py
  tests/implementor/test_impl_platform_blocked_fault.py
Labels: Component: REST API

#436 Add functionality for /component/fault-injection/schedule-blocked-fault path
  src/implementor/component.py
  tests/api/test_api_schedule_blocked_fault.py
  tests/api/test_decorator.py
  tests/implementor/conftest.py
  tests/implementor/test_impl_schedule_blocked_fault.py
  tests/implementor/test_impl_train_prio_fault.py
Labels: Component: REST API

#463 calculate verkehrsleistung from time 0 onwards, do not use minimum en…
  src/data_science/data_science.py
  tests/fixtures/fixtures_logger.py
Labels: Component: Data Science

#462 Feature/388 grafana dashboard coal demand by config
  grafana/local/dashboard_config_based.json
  src/data_science/data_science.py
  src/data_science/grafana_data_registration.py
  src/schedule/demand_schedule_strategy.py
  tests/data_science/test_data_science.py
  tests/data_science/test_grafana_data_registration.py
  tests/fixtures/fixtures_logger.py
Labels: Component: Data Science

#468 Feature/389 grafana dashboard time window size over time by config
  grafana/local/dashboard_config_based.json
  src/data_science/data_science.py
  src/data_science/grafana_data_registration.py
  tests/data_science/test_data_science.py
  tests/data_science/test_grafana_data_registration.py
  tests/fixtures/fixtures_logger.py
Labels: Component: Data Science

#464 Feature/382 priority components
  src/communicator/communicator.py
  tests/communicator/test_communicator.py
Labels: Component: Wrapper

#473 Add functionality to `/component/fault-injection/schedule-blocked-fault/{id}`
  src/implementor/component.py
  tests/api/test_api_schedule_blocked_fault.py
  tests/api/test_decorator.py
  tests/implementor/test_impl_schedule_blocked_fault.py
Labels: Component: REST API

#475 Add functionality to /component/fault-injection/train-prio-fault/{id} path
  src/implementor/component.py
  tests/api/test_api_train_prio_fault.py
  tests/api/test_decorator.py
  tests/implementor/test_impl_train_prio_fault.py
Labels: Component: REST API

#476 Add functionality to /component/fault-injection/track-speed-limit-fault/{id} path
  src/implementor/component.py
  tests/api/test_api_track_speed_limit_fault.py
  tests/api/test_decorator.py
  tests/implementor/test_impl_track_speed_limit_fault.py
Labels: Component: REST API

#477 Add functionality to /component/fault-injection/train-speed-fault/{id} path
  src/implementor/component.py
  tests/api/test_api_train_speed_fault.py
  tests/api/test_decorator.py
  tests/implementor/test_impl_train_speed_fault.py
Labels: Component: REST API

#470 Feature: Add functionality to /simulation/:id path
  pyproject.toml
  src/api/schemas.py
  src/api/simulation.py
  src/implementor/simulation.py
  tests/api/test_api_simulation.py
  tests/api/test_decorator.py
  tests/communicator/test_communicator.py
  tests/conftest.py
  tests/implementor/conftest.py
  tests/implementor/test_impl_simulation.py
  tests/implementor/test_run.py
Labels: Component: REST API

#493 Feature/424 separate graphs for train types
  grafana/local/dashboard_config_based.json
  grafana/local/dashboard_multi_config_based.json
  grafana/local/dashboard_run_based.json
  src/data_science/data_science.py
  src/data_science/grafana_data_registration.py
  tests/data_science/test_data_science.py
  tests/data_science/test_grafana_data_registration.py
  tests/fixtures/fixtures_logger.py
  tests/logger/test_log_collector.py
Labels: Component: Data Science
