Repository BP2022-AP1/bp2022-ap1, pull requests merged in 2023-04, with the labels that each got.

#119 Feature: Add first version of openAPI3 definition
  .postman/api_b23db1c0-fe6b-4c8f-887a-2c9ca66ebf20
  postman/schemas/index.yaml
Labels: Component: REST API

#160 Feature/86 Add Skeleton of ILogCreator interface
  src/logger/logger.py
Labels: Component: Logger

#178 Fix: lint errors in fault injector files
  src/fault_injector/__init__.py
  src/fault_injector/fault_injector.py
  src/fault_injector/fault_types/__init__.py
  src/fault_injector/fault_types/fault.py
  src/fault_injector/fault_types/platform_blocked_fault.py
  src/fault_injector/fault_types/track_blocked_fault.py
  src/fault_injector/fault_types/track_speed_limit_fault.py
  src/fault_injector/fault_types/train_cancelled_fault.py
  src/fault_injector/fault_types/train_prio_fault.py
  src/fault_injector/fault_types/train_speed_fault.py
Labels: Component: Fault Injector

#158 Feature/140 table schedule
  .env.test
  src/constants.py
  src/schedule/regular_schedule_strategy.py
  src/schedule/schedule.py
  src/schedule/schedule_strategy.py
  src/schedule/train_schedule.py
  tests/schedule/test_regular_schedule_strategy.py
  tests/schedule/test_train_schedule.py
Labels: Component: Spawner

#117 Add fields to `PlattformBlockedFaultConfiguration`
  poetry.lock
  src/constants.py
  src/fault_injector/fault_types/fault.py
  src/fault_injector/fault_types/platform_blocked_fault.py
  tests/test_table_basic.py
Labels: Component: Fault Injector

#191 feat: signals
  src/wrapper/simulation_object.py
  src/wrapper/simulation_objects.py
  tests/wrapper/test_simulation_objects.py
Labels: Component: Wrapper

#188 feat: implemented SpawnerConfiguration
  src/spawner/spawner.py
Labels: Component: Spawner

#163 Add `TrainCancelledFaultCofiguration` class
  src/constants.py
  src/fault_injector/fault_types/train_cancelled_fault.py
  tests/test_table_basic.py
Labels: Component: Fault Injector

#66 Feature/26 trains
  src/wrapper/simulation_object_updating_component.py
  src/wrapper/simulation_objects.py
  tests/wrapper/test_communicator.py
  tests/wrapper/test_simulation_objects.py
Labels: Component: Wrapper

#230 Move fault configuration tests into own file
  tests/fault_injector/test_table_fault_configurations.py
Labels: Component: Fault Injector

#214 Add `TrackBlockedFaultConfiguration`
  src/constants.py
  src/fault_injector/fault_types/track_blocked_fault.py
  tests/fault_injector/test_table_fault_configurations.py
Labels: Component: Fault Injector

#239 Add `TrainPrioFaultConfiguration`
  src/constants.py
  src/fault_injector/fault_types/train_prio_fault.py
  tests/fault_injector/test_table_fault_configurations.py
Labels: Component: Fault Injector

#240 Add TrackSpeedLimitFaultConfiguration class
  src/constants.py
  src/fault_injector/fault_types/track_speed_limit_fault.py
  src/fault_injector/fault_types/train_prio_fault.py
  tests/fault_injector/test_table_fault_configurations.py
Labels: Component: Fault Injector

#217 Log entry schema
  src/constants.py
  src/logger/log_entry.py
  src/logger/logger.py
  tests/logger/conftest.py
  tests/logger/test_log_entry.py
Labels: Component: Logger

#249 Update logger interfaces
  src/logger/logger.py
Labels: Component: Logger

#255 Add missing faults to logger
  src/logger/log_entry.py
  src/logger/logger.py
  tests/logger/conftest.py
  tests/logger/test_log_entry.py
Labels: Component: Logger

#275 Refactor Log Interface to include ticks
  src/logger/logger.py
Labels: Component: Logger

#274 Refactor: Fault and FaultConfiguration classes
  src/constants.py
  src/fault_injector/fault_configurations/__init__.py
  src/fault_injector/fault_configurations/fault_configuration.py
  src/fault_injector/fault_configurations/platform_blocked_fault_configuration.py
  src/fault_injector/fault_configurations/track_blocked_fault_configuration.py
  src/fault_injector/fault_configurations/track_speed_limit_fault_configuration.py
  src/fault_injector/fault_configurations/train_cancelled_fault_configuration.py
  src/fault_injector/fault_configurations/train_prio_fault_configuration.py
  src/fault_injector/fault_configurations/train_speed_fault_configuration.py
  src/fault_injector/fault_types/fault.py
  src/fault_injector/fault_types/platform_blocked_fault.py
  src/fault_injector/fault_types/track_blocked_fault.py
  src/fault_injector/fault_types/track_speed_limit_fault.py
  src/fault_injector/fault_types/train_cancelled_fault.py
  src/fault_injector/fault_types/train_prio_fault.py
  src/fault_injector/fault_types/train_speed_fault.py
  src/logger/log_entry.py
  tests/fault_injector/test_table_fault_configurations.py
  tests/logger/conftest.py
  tests/logger/test_log_entry.py
Labels: Component: Fault Injector

#256 Feature/215 cleanup trains
  src/wrapper/simulation_objects.py
  tests/wrapper/test_simulation_objects.py
Labels: Component: Wrapper

#287 rename inject_train_cancelled_speed_fault, change run_id type to UUID
  src/logger/logger.py
Labels: Component: Logger

#277 implement train arrival log function
  src/logger/logger.py
  tests/logger/test_logger.py
Labels: Component: Logger

#245 Add functionality to TrackSpeedLimitFault
  src/fault_injector/fault_types/fault.py
  src/fault_injector/fault_types/platform_blocked_fault.py
  src/fault_injector/fault_types/track_blocked_fault.py
  src/fault_injector/fault_types/track_speed_limit_fault.py
  src/fault_injector/fault_types/train_cancelled_fault.py
  src/fault_injector/fault_types/train_prio_fault.py
  src/fault_injector/fault_types/train_speed_fault.py
  tests/fault_injector/conftest.py
  tests/fault_injector/test_track_speed_limit_fault.py
Labels: Component: Fault Injector

#280 implement remove fahrstrasse log function
  src/logger/logger.py
  tests/logger/test_logger.py
Labels: Component: Logger

#291 Rename `TrainCancelledFault` to `ScheduleBlockedFault`
  src/constants.py
  src/fault_injector/fault_configurations/schedule_blocked_fault_configuration.py
  src/fault_injector/fault_configurations/train_cancelled_fault_configuration.py
  src/fault_injector/fault_types/schedule_blocked_fault.py
  src/logger/log_entry.py
  src/logger/logger.py
  tests/fault_injector/test_table_fault_configurations.py
  tests/logger/conftest.py
  tests/logger/test_log_entry.py
Labels: Component: Fault Injector

#297 Fault injection log functions
  src/logger/log_entry.py
  src/logger/logger.py
  tests/logger/test_logger.py
Labels: Component: Logger

#288 Feature/261 random schedule strategy
  src/schedule/random_schedule_strategy.py
  src/schedule/regular_schedule_strategy.py
  src/schedule/schedule_configuration.py
  src/schedule/schedule_strategy.py
  tests/schedule/test_random_schedule_strategy.py
  tests/schedule/test_regular_schedule_strategy.py
  tests/schedule/test_schedule_configuration.py
  tests/schedule/test_train_schedule.py
  tests/spawner/test_spawner.py
Labels: Component: Spawner

#295 Add functionality to ScheduleBlockedFault
  src/fault_injector/fault_types/schedule_blocked_fault.py
  src/fault_injector/fault_types/track_speed_limit_fault.py
  tests/fault_injector/test_schedule_blocked_fault.py
Labels: Component: Fault Injector

#298 Implement resolve fault log entry functions
  src/logger/logger.py
  tests/logger/test_logger.py
Labels: Component: Logger

#308 fix resolve fault log entry tests to be executed
  tests/logger/test_logger.py
Labels: Component: Logger

#306 Feature/303 modularize spawner fixtures
  src/schedule/schedule.py
  tests/schedule/test_random_schedule_strategy.py
  tests/schedule/test_schedule_configuration.py
  tests/schedule/test_train_schedule.py
  tests/spawner/conftest.py
  tests/spawner/test_random_schedule_strategy.py
  tests/spawner/test_regular_schedule_strategy.py
  tests/spawner/test_schedule_configuration.py
  tests/spawner/test_spawner.py
  tests/spawner/test_train_schedule.py
Labels: Component: Spawner

#315 implement train enter leave log functions
  src/constants.py
  src/logger/log_entry.py
  src/logger/logger.py
  tests/logger/conftest.py
  tests/logger/test_logger.py
Labels: Component: Logger

#312 Add functionality to `PlatformBlockedFault`
  src/fault_injector/fault_types/platform_blocked_fault.py
  tests/fault_injector/conftest.py
  tests/fault_injector/test_platform_blocked_fault.py
  tests/fault_injector/test_track_speed_limit_fault.py
Labels: Component: Fault Injector

#323 Fix: serialization tests
  tests/fault_injector/test_table_fault_configurations.py
Labels: bug, Component: Fault Injector

#325 Add functionality to `TrackBlockedFault`
  src/fault_injector/fault_types/track_blocked_fault.py
  tests/fault_injector/conftest.py
  tests/fault_injector/test_platform_blocked_fault.py
  tests/fault_injector/test_track_blocked_fault.py
  tests/fault_injector/test_track_speed_limit_fault.py
Labels: Component: Fault Injector

#324 Feature/62 initial network state
  poetry.lock
  pyproject.toml
  src/wrapper/simulation_object_updating_component.py
  src/wrapper/simulation_objects.py
  sumo-config/example.add.xml
  sumo-config/example.con.xml
  sumo-config/example.edg.xml
  sumo-config/example.net.xml
  sumo-config/example.nod.xml
  sumo-config/example.scenario.sumocfg
  tests/wrapper/test_simulation_object_updating_component.py
  tests/wrapper/test_simulation_objects.py
Labels: Component: Wrapper

#333 Fix/260 train creation
  src/wrapper/simulation_objects.py
  tests/wrapper/test_simulation_objects.py
Labels: Component: Wrapper, Component: Spawner

#331 Add functionality to TrainSpeedFault
  src/fault_injector/fault_configurations/train_speed_fault_configuration.py
  src/fault_injector/fault_types/platform_blocked_fault.py
  src/fault_injector/fault_types/train_speed_fault.py
  tests/fault_injector/conftest.py
  tests/fault_injector/test_table_fault_configurations.py
  tests/fault_injector/test_train_speed_fault.py
  tests/logger/conftest.py
Labels: Component: Fault Injector

#337 Add missing log entry tests, change method signature of train enter/l…
  src/logger/logger.py
  tests/logger/test_log_entry.py
Labels: Component: Logger

#343 Feature/319 implement basic log collector
  poetry.lock
  pyproject.toml
  src/logger/log_collector.py
  tests/logger/conftest.py
  tests/logger/test_log_collector.py
Labels: Component: Logger

#349 Fix: Remove PUT routes from definition, collection, code and tests
  postman/collections/rest-api-autogenerate.json
  postman/schemas/index.yaml
  src/api/component.py
  src/api/schedule.py
  src/api/simulation.py
  src/implementor/component.py
  src/implementor/schedule.py
  src/implementor/simulation.py
  tests/api/test_api_interlocking.py
  tests/api/test_api_platform_blocked_fault.py
  tests/api/test_api_run.py
  tests/api/test_api_schedule.py
  tests/api/test_api_schedule_blocked_fault.py
  tests/api/test_api_simulation.py
  tests/api/test_api_spawner.py
  tests/api/test_api_token.py
  tests/api/test_api_track_blocked_fault.py
  tests/api/test_api_track_speed_limit_fault.py
  tests/api/test_api_train_prio_limit.py
  tests/api/test_api_train_speed_fault.py
Labels: Component: REST API

#341 Add functionality to TrainPrioFault
  src/fault_injector/fault_types/train_prio_fault.py
  tests/fault_injector/conftest.py
  tests/fault_injector/test_train_prio_fault.py
  tests/fault_injector/test_train_speed_fault.py
Labels: Component: Fault Injector

#361 Refactor: Use unifromly naming for operationid for fetching all ids
  postman/schemas/index.yaml
  src/api/component.py
  src/api/run.py
  src/api/simulation.py
  src/implementor/component.py
  src/implementor/run.py
  src/implementor/simulation.py
Labels: Component: REST API

#362 Feature/342 research coal consumption
  poetry.lock
  pyproject.toml
  research/coal_consumption/coal_consumption.ipynb
  research/coal_consumption/power_stations_raw.csv
  research/coal_consumption/smard_api.py
Labels: Component: Spawner

#365 Refactor: in the faults hand over objects instead of their ids ot the interlocking
  src/fault_injector/fault_types/platform_blocked_fault.py
  src/fault_injector/fault_types/track_blocked_fault.py
  src/fault_injector/fault_types/track_speed_limit_fault.py
  src/fault_injector/fault_types/train_prio_fault.py
  src/fault_injector/fault_types/train_speed_fault.py
Labels: Component: Fault Injector

#372 feat: move communicator to separate folder
  src/communicator/communicator.py
  tests/communicator/test_communicator.py
Labels: Component: Communicator

#371 Feature/366 demand schedule strategy
  data/spawner/mock_smard_api_data/data_1419807600000.json
  data/spawner/mock_smard_api_data/data_1420412400000.json
  data/spawner/mock_smard_api_data/data_1421017200000.json
  data/spawner/mock_smard_api_data/data_1421622000000.json
  data/spawner/mock_smard_api_data/data_1422226800000.json
  data/spawner/mock_smard_api_data/data_1422831600000.json
  data/spawner/mock_smard_api_data/data_1423436400000.json
  data/spawner/mock_smard_api_data/data_1424041200000.json
  data/spawner/mock_smard_api_data/data_1424646000000.json
  data/spawner/mock_smard_api_data/data_1425250800000.json
  data/spawner/mock_smard_api_data/index.json
  data/spawner/mock_smard_api_data/load_smard_data.py
  research/coal_consumption/coal_consumption.ipynb
  src/constants.py
  src/schedule/demand_schedule_strategy.py
  src/schedule/schedule.py
  src/schedule/schedule_configuration.py
  src/schedule/smard_api.py
  tests/spawner/conftest.py
  tests/spawner/test_demand_schedule_strategy.py
  tests/spawner/test_random_schedule_strategy.py
  tests/spawner/test_smard_api.py
Labels: Component: Spawner

#378 Add tests for fault injector component
  tests/fault_injector/test_fault_injector.py
Labels: Component: Fault Injector

#375 spawner interface
  src/wrapper/simulation_objects.py
  src/wrapper/train_spawner.py
  tests/fault_injector/conftest.py
  tests/wrapper/conftest.py
  tests/wrapper/test_simulation_objects.py
  tests/wrapper/test_train_spawner.py
Labels: Component: Wrapper

#381 Feature/351 delay not spawnable trains
  src/schedule/schedule.py
  src/schedule/train_schedule.py
  src/spawner/spawner.py
  tests/fault_injector/conftest.py
  tests/spawner/conftest.py
  tests/spawner/test_spawner.py
  tests/spawner/test_train_schedule.py
Labels: Component: Spawner

#398 Make `_make` method in `Schema` of `FaultConfiguration` abstract
  src/fault_injector/fault_configurations/fault_configuration.py
Labels: Component: Fault Injector

#400 Refactor/385 tidy up spawner tests
  data/spawner/mock_smard_api_data/data_1419807600000.json
  data/spawner/mock_smard_api_data/data_1420412400000.json
  data/spawner/mock_smard_api_data/data_1421017200000.json
  data/spawner/mock_smard_api_data/data_1421622000000.json
  data/spawner/mock_smard_api_data/data_1422226800000.json
  data/spawner/mock_smard_api_data/data_1422831600000.json
  data/spawner/mock_smard_api_data/data_1423436400000.json
  data/spawner/mock_smard_api_data/data_1424041200000.json
  data/spawner/mock_smard_api_data/data_1424646000000.json
  data/spawner/mock_smard_api_data/data_1425250800000.json
  data/spawner/mock_smard_api_data/load_smard_data.py
  src/schedule/smard_api.py
  tests/spawner/conftest.py
  tests/spawner/test_demand_schedule_strategy.py
  tests/spawner/test_random_schedule_strategy.py
  tests/spawner/test_regular_schedule_strategy.py
  tests/spawner/test_schedule_configuration.py
  tests/spawner/test_smard_api.py
  tests/spawner/test_spawner.py
  tests/spawner/test_train_schedule.py
Labels: Component: Spawner

#380 Add random faults
  src/fault_injector/fault_configurations/fault_configuration.py
  src/fault_injector/fault_configurations/schedule_blocked_fault_configuration.py
  src/fault_injector/fault_configurations/track_blocked_fault_configuration.py
  src/fault_injector/fault_strategies.py
  src/fault_injector/fault_types/fault.py
  tests/fault_injector/test_affected_element_does_not_exist.py
  tests/fault_injector/test_fault_strategies.py
  tests/fault_injector/test_platform_blocked_fault.py
  tests/fault_injector/test_schedule_blocked_fault.py
  tests/fault_injector/test_table_fault_configurations.py
  tests/fault_injector/test_track_blocked_fault.py
  tests/fault_injector/test_track_speed_limit_fault.py
  tests/fault_injector/test_train_prio_fault.py
  tests/fault_injector/test_train_speed_fault.py
  tests/logger/conftest.py
Labels: Component: Fault Injector

#403 Feature: Add user token validation decorator
  src/api/component.py
  src/api/decorators.py
  src/api/run.py
  src/api/schedule.py
  src/api/simulation.py
  src/api/token.py
  src/implementor/component.py
  src/implementor/run.py
  src/implementor/schedule.py
  src/implementor/simulation.py
  src/implementor/token.py
  tests/api/conftest.py
  tests/api/test_api_interlocking.py
  tests/api/test_api_platform_blocked_fault.py
  tests/api/test_api_run.py
  tests/api/test_api_schedule.py
  tests/api/test_api_schedule_blocked_fault.py
  tests/api/test_api_simulation.py
  tests/api/test_api_spawner.py
  tests/api/test_api_token.py
  tests/api/test_api_track_blocked_fault.py
  tests/api/test_api_track_speed_limit_fault.py
  tests/api/test_api_train_prio_limit.py
  tests/api/test_api_train_speed_fault.py
  tests/api/test_decorator.py
Labels: Component: REST API
