Repository BP2022-AP1/bp2022-ap1, pull requests merged in 2023-06, with the labels that each got.

#527 Make route controller care about faults
  src/fault_injector/fault_types/fault.py
  src/fault_injector/fault_types/platform_blocked_fault.py
  src/fault_injector/fault_types/schedule_blocked_fault.py
  src/fault_injector/fault_types/track_blocked_fault.py
  src/fault_injector/fault_types/track_speed_limit_fault.py
  src/fault_injector/fault_types/train_prio_fault.py
  src/fault_injector/fault_types/train_speed_fault.py
  src/implementor/run.py
  src/interlocking_component/route_controller.py
  tests/fault_injector/conftest.py
  tests/fault_injector/test_affected_element_does_not_exist.py
  tests/fault_injector/test_fault.py
  tests/fault_injector/test_platform_blocked_fault.py
  tests/fault_injector/test_schedule_blocked_fault.py
  tests/fault_injector/test_track_blocked_fault.py
  tests/fault_injector/test_track_speed_limit_fault.py
  tests/fault_injector/test_train_prio_fault.py
  tests/fault_injector/test_train_speed_fault.py
Labels: Component: Interlocking

#536 Use of strings instead of uuids in `Spawner`
  src/spawner/spawner.py
Labels: bug, Component: Spawner

#538 Feature/314 timetable refinements
  src/interlocking_component/route_controller.py
  src/wrapper/simulation_objects.py
  tests/fault_injector/conftest.py
  tests/fault_injector/test_platform_blocked_fault.py
  tests/implementor/conftest.py
  tests/wrapper/__init__.py
  tests/wrapper/conftest.py
  tests/wrapper/test_simulation_object_updating_component.py
  tests/wrapper/test_simulation_objects.py
Labels: Component: Wrapper

#550 feat: updated constants
  src/schedule/demand_schedule_strategy.py
  tests/data_science/test_data_science.py
  tests/data_science/test_grafana_data_registration.py
  tests/spawner/test_demand_schedule_strategy.py
Labels: Component: Spawner
