Repository BP2022-AP1/bp2022-ap1, pull requests merged in 2023-07, with the labels that each got.

#560 changed coal energy content
  src/schedule/demand_schedule_strategy.py
Labels: Component: Spawner

#572 Set default values for train and track `max_speed`
  src/wrapper/simulation_objects.py
  tests/fault_injector/conftest.py
  tests/implementor/conftest.py
  tests/wrapper/conftest.py
  tests/wrapper/test_simulation_objects.py
Labels: Component: Wrapper

#579 Enable lint in fault injector tests
  tests/fault_injector/__init__.py
  tests/fault_injector/conftest.py
Labels: Component: Fault Injector

#584 Add fault injection examples
  scripts/insert_fault_injection_examples.py
Labels: Component: Fault Injector

#544 Feature/logging on `simulation_objects`
  src/wrapper/simulation_object_updating_component.py
  src/wrapper/simulation_objects.py
  tests/conftest.py
  tests/fault_injector/conftest.py
  tests/fault_injector/test_affected_element_does_not_exist.py
  tests/fault_injector/test_fault.py
  tests/fault_injector/test_platform_blocked_fault.py
  tests/fault_injector/test_schedule_blocked_fault.py
  tests/fault_injector/test_track_blocked_fault.py
  tests/fault_injector/test_track_speed_limit_fault.py
  tests/fault_injector/test_train_prio_fault.py
  tests/fault_injector/test_train_speed_fault.py
  tests/fixtures/fixtures_logger.py
  tests/fixtures/fixtures_spawner.py
  tests/fixtures/fixtures_wrapper.py
  tests/implementor/conftest.py
  tests/interlocking_component/conftest.py
  tests/wrapper/conftest.py
  tests/wrapper/test_simulation_object_updating_component.py
  tests/wrapper/test_simulation_objects.py
Labels: Component: Wrapper, Component: Data Science
